@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Special+Gothic+Expanded+One&display=swap'); 
@import "tailwindcss";

*{
  font-family: outfit;
}
body{
  background-color: #060010;
 
}
.heading{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.subheading{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}
.the-standard{
  font-family: "Instrument Serif", serif;
  font-weight: 200;
  font-style: italic;
}

.placeholder-color{
  color: #e0e0e0;
  font-weight:300 ;
  
}
/* @keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-shimmer {
  animation: shimmer 3s infinite linear;
} */